<h2>Comment List</h2>
<table>
  <tr>
    <th>Id</th>
    <th>Post Id</th>
    <th>Name</th>
    <th>Email</th>
    <th>Body</th>
  </tr>

  <tr *ngFor="let com of listofcomments">
    <td>{{com.id}}</td>
    <td>{{com.postId}}</td>
    <td>{{com.name}}</td>
    <td>{{com.email}}</td>
    <td>{{com.body}}</td>
  </tr>
</table>



<h2>Comment by Post Id List</h2>
<table>
  <tr>
    <th>User Id</th>
    <th>Id</th>
    <th>Title</th>
    <th>Body</th>
  </tr>

  <tr *ngFor="let com of listofposts">
    <td>{{com.userId}}</td>
    <td>{{com.id}}</td>
    <td>{{com.title}}</td>
    <td>{{com.body}}</td>
  </tr>
</table>

<br>
<br>

<h2>POST DATA RETURNED</h2>

<p>Id: {{addedPost.id}}</p>
<p>User Id: {{addedPost.userId}}</p>
<p>Title: {{addedPost.title}}</p>
<p>Body: {{addedPost.body}}</p>